---
tags:
{% for tag in tags %}
  - {{ tag }}
{% endfor %}
---

# [:fontawesome-brands-github:]({{ github_url }} "View this example on GitHub"){ .example-github-link aria-label="View this example on GitHub" } {{ title }}

{{ body }}
